$primary-background-color: white;
$secondary-background-color: rgb(245, 245, 245);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-page-color: rgb(231, 231, 231);
$background-color-footer: rgb(47, 47, 47);
$primary-box-shadow: 0 0.3rem 1rem rgb(199, 199, 199);
$font__titre: 'Shrikhand',
cursive;
$font__page: 'Roboto',
sans-serif;