$primary-background-color: white;
$secondary-background-color: rgb(245, 245, 245);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-page-color: rgb(231, 231, 231);
.all__page {
    font-size: 16px;
    background-color: $background-page-color;
    & a {
        text-decoration: none;
    }
}

.block {
    height: 100px;
    background-color: $primary-background-color;
    border: solid rgb(199, 199, 199) 2px;
    box-shadow: 0 0.05rem 0.5rem rgb(199, 199, 199);
    margin: -10px -10px 0 -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        font-size: 4rem;
    }
}

.search {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    &__city {
        margin-left: 1.5rem;
    }
    & i {
        margin-left: -1.5rem;
    }
}

.block__titre {
    height: 350px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        margin-top: -10px;
    }
    & a {
        font-size: 1.4rem;
        border-radius: 2rem;
        width: 60%;
        height: 4rem;
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav {
    background-color: $primary-background-color;
    height: 550px;
    font-size: 1.5rem;
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & h2 {
        margin-left: 1.5rem;
        margin-top: 3rem;
    }
    &__liste {
        list-style: none;
        counter-reset: li;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        margin-top: -1.5rem;
        &--choix {
            background-color: $secondary-background-color;
            width: 90%;
            height: 6rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            counter-increment: li;
            border-radius: 30px;
            background-color: $secondary-background-color;
            box-shadow: 0 0.3rem 1rem rgb(199, 199, 199);
            &::before {
                content: counter(li);
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                background-color: $primary-color;
                color: white;
                margin-left: -2.5rem;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    &__titre {
        margin-left: 1.5rem;
    }
    & .all__carte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.carte {
    width: 90%;
    height: 300px;
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    &__image {
        height: 200px;
        background-color: $secondary-color;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        & img {
            object-fit: fill;
            width: 100%;
            height: auto;
            display: flex;
            align-items: ;
            position: relative;
        }
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin: 0 1rem 1rem 1rem;
    }
}