$primary-background-color: white;
$secondary-background-color: rgb(245, 245, 245);
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-page-color: rgb(231, 231, 231);
$background-color-footer: rgb(47, 47, 47);
$primary-box-shadow: 0 0.3rem 1rem rgb(199, 199, 199);
$font__titre: 'Shrikhand',
cursive;
$font__page: 'Roboto',
sans-serif;
.page {
    font-size: 16px;
    background-color: $background-page-color;
    font-family: $font__page;
    font-weight: 100;
    & a {
        text-decoration: none;
    }
}

.block {
    height: 100px;
    background-color: $primary-background-color;
    border: solid rgb(199, 199, 199) 2px;
    box-shadow: 0 0.05rem 0.5rem rgb(199, 199, 199);
    margin: -10px -10px 0 -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        font-family: $font__titre;
        font-size: 4rem;
    }
}

.search {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    &__city {
        margin-left: 1.5rem;
    }
    & i {
        margin-left: -1.5rem;
    }
}

.block__titre {
    height: 300px;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        padding: 0 5rem 0 5rem;
    }
    & p {
        padding: 0 3rem 0 3rem;
        margin-top: -10px;
    }
    & a {
        font-size: 1.2rem;
        border-radius: 2rem;
        width: 18rem;
        box-shadow: $primary-box-shadow;
        height: 4rem;
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

.nav {
    background-color: $primary-background-color;
    font-size: 1.2rem;
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    font-weight: bold;
    & h2 {
        margin-left: 1.5rem;
        margin-top: 3rem;
        font-size: 1.8rem;
    }
    &__liste {
        list-style: none;
        counter-reset: li;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        padding-right: 1rem;
        margin-top: -1.5rem;
        &--choix {
            background-color: $secondary-background-color;
            width: 24rem;
            height: 6rem;
            margin: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            counter-increment: li;
            border-radius: 30px;
            background-color: $secondary-background-color;
            box-shadow: $primary-box-shadow;
            &::before {
                content: counter(li);
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                background-color: $primary-color;
                color: white;
                margin-left: -2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    &__titre {
        margin: 3rem 0 0.5rem 1.5rem;
        font-size: 1.8rem;
    }
    & .all__carte {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.carte {
    width: 25rem;
    height: 300px;
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: $primary-box-shadow;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: black;
    &__image {
        height: 200px;
        background-color: $secondary-color;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        &--nouveau {
            top: 1rem;
            right: 1rem;
            position: absolute;
            font-weight: bold;
            background-color: $third-color;
            color: rgb(0, 123, 92);
            width: 6rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.1rem;
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: 0 1rem 0 1rem;
        font-size: 1.2rem;
        &--titre {
            margin-bottom: -1rem;
            font-weight: bold;
        }
        &--coeur {
            color: white;
            -webkit-text-stroke: 1px black;
            i {
                transition: all 400ms ease-in-out;
                font-size: 1.5rem;
                transform-origin: bottom;
            }
            i:hover {
                -webkit-text-stroke: 0px white;
                background: -webkit-linear-gradient(bottom, $secondary-color, $primary-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.footer {
    background-color: $background-color-footer;
    color: white;
    margin: 0 -10px -10px -10px;
    height: 200px;
    padding: 1rem;
    &__titre {
        font-family: $font__titre;
        font-size: 1.5rem;
        margin: 0rem 0 0.5rem 1rem;
    }
    &__liste {
        list-style: none;
        font-size: 1.1rem;
        margin-left: -1.5rem;
        height: 120px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        a {
            color: white;
        }
        &--awe {
            & i {
                text-align: center;
                width: 1rem;
                margin-right: 1rem;
            }
        }
    }
}