.all__page {
  font-size: 16px;
  background-color: #e7e7e7;
}

.all__page a {
  text-decoration: none;
}

.block {
  height: 100px;
  background-color: white;
  border: solid #c7c7c7 2px;
  -webkit-box-shadow: 0 0.05rem 0.5rem #c7c7c7;
          box-shadow: 0 0.05rem 0.5rem #c7c7c7;
  margin: -10px -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__logo {
  font-size: 4rem;
}

.search {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.search__city {
  margin-left: 1.5rem;
}

.search i {
  margin-left: -1.5rem;
}

.block__titre {
  height: 350px;
  font-size: 1.5rem;
  text-align: center;
  background-color: whitesmoke;
  margin: 0 -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__titre p {
  margin-top: -10px;
}

.block__titre a {
  font-size: 1.4rem;
  border-radius: 2rem;
  width: 60%;
  height: 4rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  background-color: white;
  height: 550px;
  font-size: 1.5rem;
  margin: 0 -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav h2 {
  margin-left: 1.5rem;
  margin-top: 3rem;
}

.nav__liste {
  list-style: none;
  counter-reset: li;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 400px;
  padding-right: 1rem;
  margin-top: -1.5rem;
}

.nav__liste--choix {
  background-color: whitesmoke;
  width: 24rem;
  height: 6rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: li;
  border-radius: 30px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 0.3rem 1rem #c7c7c7;
          box-shadow: 0 0.3rem 1rem #c7c7c7;
}

.nav__liste--choix::before {
  content: counter(li);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #9356DC;
  color: white;
  margin-left: -2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__titre {
  margin: 3rem 0 0.5rem 1.5rem;
  font-size: 2rem;
}

.section .all__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carte {
  width: 25rem;
  height: 300px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  margin: 1rem;
  -webkit-box-shadow: 0 0.3rem 1rem #c7c7c7;
          box-shadow: 0 0.3rem 1rem #c7c7c7;
}

.carte__image {
  height: 200px;
  background-color: #FF79DA;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.carte__image img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte__nouveau {
  position: relative;
  left: 20rem;
  bottom: 10rem;
  background-color: #99E2D0;
  color: #007b5c;
  width: 4rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.1rem;
}

.carte__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  margin: 0 1rem 1rem 1rem;
}

.footer {
  background-color: #2f2f2f;
  color: white;
  margin: 0 -10px -10px -10px;
  height: 200px;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */