.coeur {
    transition: all 200ms ease-in-out;
    font-size: 1.5rem;
    transform-origin: bottom;
    &:hover {
        -webkit-text-stroke: 0px transparent;
        background: -webkit-linear-gradient(bottom, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}