#loader {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 20px solid white;
    border-radius: 50%;
    border-top: 20px solid $primary-color;
    border-bottom: 20px solid $secondary-color;
    animation: spin 1s linear infinite, fadeout ease-in-out 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeout {
    from {
        z-index: 1;
    }
    to {
        z-index: -1;
    }
}

#effet__page {
    animation: fadein 2s cubic-bezier(1, -0.89, 1, -1);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}