.nav {
    background-color: $primary-background-color;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    font-weight: bold;
    & h2 {
        margin-left: 1.5rem;
        margin-top: 3rem;
        font-size: 1.8rem;
    }
    &__liste {
        position: relative;
        list-style: none;
        counter-reset: li;
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        padding-right: 1rem;
        margin-top: -1.5rem;
        font-size: 1.1rem;
        &--awe {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.5rem 0 2rem;
            width: 1rem;
        }
        &--li {
            margin: 1rem;
        }
        &--choix {
            color: black;
            position: relative;
            background-color: $secondary-background-color;
            width: 21rem;
            height: 5rem;
            display: flex;
            align-items: center;
            counter-increment: li;
            border-radius: 30px;
            background-color: $secondary-background-color;
            box-shadow: $primary-box-shadow;
            &::before {
                content: counter(li);
                width: 2rem;
                height: 2rem;
                position: absolute;
                left: 1.5rem;
                border-radius: 1rem;
                background-color: $primary-color;
                color: white;
                margin-left: -2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}